<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>This is HomePage ds.mdsamdsand,msand,</title>
</head>
<body>
	
	
	<section>

	<div class="card-body mr-3">
	
	<h1 class="text-center">Add contact</h1>
	
	<div class="container-fluid mt-1">
	
	<div class="row">
	
	<div class="col-md-10 offset-md-1">
	
	<form action="#" th:object="${contact}"
	enctype="multipart/form-data"
	method="post"
	th:action="@{/user/process-contact}"
	class="mt-2"
	>
	
	<!-- DFirst Namae -->
	<div class="input-group">
	
	
	<div class="input-group-prepend">
	
	
	<div class="input-group-text">
	
	<i class="fa fa-plus"></i>
	
	</div>
	
	</div>
	
	
	<input type="text" id="firstname" name="name" placeholder="Enter name Here" class="form-controller" style="width:950px"/>
	
	
	</div>
	
	<!-- Senocd namae -->
	
		<div class="input-group mt-3">
	
	
	<div class="input-group-prepend">
	
	
	<div class="input-group-text">
	
	<i class="fas fa-user-alt"></i>
	
	</div>
	
	</div>
	
	
	<input type="text" id="seconedname"  name="secondName" placeholder="Enter Seconed Here" class="form-controller" style="width:950px" />
	
	
	</div>
	
	
<!-- Phone -->	
	
	
		<div class="input-group mt-3">
	
	
	<div class="input-group-prepend">
	
	
	<div class="input-group-text">
	
	<i class="fas fa-phone"></i>
	
	</div>
	
	</div>
	
	
	<input type="numer" id="phone"  name="phone" placeholder="Enter Phone no. Here" class="form-controller" style="width:950px" />
	
	
	</div>
	
	<!-- Email -->
	
		<div class="input-group mt-3">
	
	
	<div class="input-group-prepend">
	
	
	<div class="input-group-text">
	
@	
	</div>
	
	</div>
	
	
	<input type="email" id="email"  name="email" placeholder="Enter Emial Here" class="form-controller" style="width:950px"/>
	
	
	</div>
	
	
	<!-- Work -->
	
		<div class="input-group mt-3">
	
	
	<div class="input-group-prepend">
	
	
	<div class="input-group-text">
	
	<i class="fas fa-briefcase"></i>
	
	</div>
	
	</div>
	
	
	<input type="text" id="work"  name="work" placeholder="Enter Your Work Here" class="form-controller" style="width:950px"/>
	
	
	</div>
	
	
	<!-- Contact Description -->
	
	<div class="form-group mt-3">
	
	<textarea placeholder="Enter yur description here" name="description" id="description" rows="10" class="form-control" ></textarea>
	</div>
	
	
	<!-- Contact Image -->
	
	<div class="custom-file">
	
	<input type="file" name="profileImage" />
	
	</div>
	
	<div class="container text-center">
	<button class="btn btn-outline-primary">Save Contact</button>
	
	</div>
	
	</form>
	
	
	
	</div>
	
	</div>
	
	</div>
	
	</div>



	</section>
	
</body>
</html> 