<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>This is HomePage ds.mdsamdsand,msand,</title>
</head>
<body>
	
	
	<section>

<div class="container">

<div class="card mt-3">


<div class="card-body my-3">

<div class="container text-center">
      <img alt="profile photo" style="height: 200px;width: 200px" class="my_profile_picture" th:src="@{'/img/contact_logo.jpeg'}"  src="">


</div>

<h1 class="text-center mt-3 text-secondary font-italic font-weight-light">
Start Adding Your Contacts On Cloud
</h1>

<a  th:href="@{/user/add-contact}" style="width: 100%;" class="btn btn-primary btn-block text-uppercase mt-4" >ADD NEW CONTACT</a>
</div>



</div>


</div>

	</section>
	
</body>
</html> 